<div class="thanks-dhh">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    <fieldset>
      <legend>Please Log In</legend>

			<table class='vert-form'><tbody>
				<tr>
					<th class='label'><label for="name">Name:</label></th>
					<td> <%= text_field_tag :name, params[:name] %> </td>
				</tr>
				<tr>
          <th class='label'><label for="password">Password:</label></th>
          <td><%= password_field_tag :password, params[:password] %> </td>
        </tr>
     </tbody></table>

      <div class='button-row'>
        <%= submit_tag "Login" %>
      </div>
      <br />

    </fieldset>
  <% end %>
</div>
