<h1>Listing voters</h1>

<table>
  <tr>
    <% v = Voter.new; f = nil; form_for(:admin, v) {|ff| f = ff } # @todo hack %>
    <% v.class.ui_fields.map(&:intern).each do |k| %>
      <th> <%= f.label(k) %> </th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @voters.each do |voter| %>
  <tr>
    <% Voter.ui_fields.map(&:intern).each do |k| %>
      <td><%= voter.send(k) %></td>
    <% end %>
    <td><%= link_to 'Show', admin_voter_path(voter) %></td>
    <td><%= link_to 'Edit', edit_admin_voter_path(voter) %></td>
    <td><%= link_to 'Destroy', admin_voter_path(voter), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voter', new_admin_voter_path %>
