<h1>Listing votes</h1>

<table>
  <tr>
    <th>Voter</th>
    <th>Vote ordinal</th>
    <th>Decision</th>
    <th>Value</th>
    <th></th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= vote.voter_id %></td>
    <td><%= vote.vote_ordinal %></td>
    <td><%= vote.decision_id %></td>
    <td><%= vote.value %></td>
    <td><%= link_to 'Show', admin_vote_path(vote) %></td>
  </tr>
<% end %>
</table>
